.features-list {
    display: flex;
    &__item {
        width: 270px;
    }
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    &__picture {
        height: 120px;
        background-color: $third-bgc;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: $title-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    &__text {
        font-size: 14px;
        line-height: 1.71;
    }
}